header{
    background-color: #BE9FFE;
    width: 1440px;
    height: 150px;
    
}

.barrasuperior{
    background-color: #d9d9d9;
    height: 73px;
    weight: 585px;
}

.corpo{
    height: 620px;
}

footer{
background-color: #BE9FFE;
    margin-top: 100px;
    border: 2px solid (0,0,0);
    height: 100px;
}